footer.footer
    .footer__logo
        img(src='/img/logo-color.png' alt='RealFeel logo')
    ul.footer__nav
        li:  a(href='#') About us
        li:  a(href='#') Downlowd apps
        li:  a(href='#') Become a guide
        li:  a(href='#') Careeers
        li:  a(href='#') Contact
    p.footer__copyright &copy; by Andreea Lupse
