header.header
    nav.nav.nav--tours
        a.nav__el(href='/') All tours
        .dropdown.nav__el
            button.nav__el.dropbtn Options
            .dropdown-content
                a(href='/top-5-cheap') Get 5 cheapest tours
                a#getToursNearMe(href='#') Get tours within 400 km

    .header__logo
        img(src='/img/logo.png', alt='RealFeel logo')
        img(src='/img/realFeelText.png', alt='RealFeel logo')
    nav.nav.nav--user 
        if user
            a.nav__el.nav__el--logout Log out
            a.nav__el(href='/me')
                img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of user ${user.photo}`)
                span= user.name.split(' ')[0]
        else
            a.nav__el(href='/login') Log in
            a.nav__el.nav__el--cta(href='/signup') Sign up
