extends base

block content
  main.main
    .forgotPassword-form
      h2.heading-secondary.ma-bt-lg Recover passowrd
      form.form.form--forgotPassword
        .form__group
          label.form__label(for='email') Provide the email address where we can send you a link to change your password
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green Send mail 